/* * {
    outline: 1px solid red;
} */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5em;
}

.top-left {
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-evenly;
    height: 3vh;
    align-items: flex-end;
}

.top-left div {
    margin-inline: -16px;
}

.top-left div:hover {
    text-decoration: underline;
}

.top-right {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-inline: 1em;
    height: 4vh;
    justify-content: space-evenly;
    width: 35%;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    height: 3vh;
}

nav ul li {
    list-style-type: none;
    padding: 0 1em;
    margin-right: 1em;
    margin-inline: -4px;
}

nav ul li:hover {
    text-decoration: underline;
}

.dropdown-menu-container {
    color: red;
    border-radius: 50%;
}

.dropdown-menu {
    width: 30px;
    height: 30px;
    overflow: hidden;
}

.dropdown-menu img {
    position: relative;
    right: 80px;
    top: -62px;
    max-width: 11em;
    opacity: 0.9;
}

.icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.personal-icon {
    position: relative;
    right: 17px;
    top: -10px;
    max-width: 4em;
}

main {
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: 0 auto;
    align-items: center;
    flex-grow: 2;
}

main img {
    height: 19em;
}

.search-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    width: 60%;
}

.search-input {
    width: 60%;
}

.button-container {
    padding-top: 20px;
}

main p {
    font-size: 16px;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: lightgrey;
    height: 9vh;
}

footer p {
    width: 100vw;
    text-align: center;
}

footer .footer-list-one {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-evenly;
    position: relative;
    bottom: 1em;
}

footer .footer-list-one li {
    list-style: none;
}


footer .footer-list-two {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-evenly;
    position: relative;
    bottom: 1em;
}

footer .footer-list-two li {
    list-style: none;
}
